[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
ipykernel = "*"
jupyter = "*"
"beautifulsoup4" = "*"
click = "*"
matplotlib = "*"
papermill = "*"
scikit-learn = "*"
seaborn = "*"
scipy = "*"
pillow = "*"
geos = "*"
cython = "*"
pyproj = "*"
cartopy = "*"
tqdm = "*"
moviepy = "*"
optimage = "*"

[dev-packages]
spyder = "*"

[requires]
python_version = "3.6"

[scripts]
install_ipykernel = "python -m ipykernel install --user --name hurricanes-env --display-name \"Hurricane Data Env\""
remove_ipykernel = "jupyter kernelspec remove hurricanes-env"
spyder = "spyder3 --new-instance --window-title=hurricanes-env -w ."
nteract = "nteract --kernel hurricanes-env --cwd ."
