[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
ipykernel = "*"
jupyter = "*"
"beautifulsoup4" = "*"
click = "*"
matplotlib = "*"
papermill = "*"

[dev-packages]
spyder = "*"

[requires]
python_version = "3.6"

[scripts]
install_ipykernel = "python -m ipykernel install --user --name hurricanes-env --display-name \"Hurricane Data Env\""
remove_ipykernel = "jupyter kernelspec remove hurricanes-env"
spyder = "spyder3 --new-instance -w src/"
nteract = "nteract --kernel hurricanes-env --cwd ."
